h1{
    margin-top:20px;
}
h2{
    font-family: 'Lato', sans-serif;
}
.headturnout{
    float:right;
    font-size:100%;
    padding-top:8px;

}
.votesheaderrow{
    font-size:medium;
    font-weight:bold;
    position:relative;
    top:15px;
}
#content {
    margin-bottom:30px;
}
.result, .partyrow
{
    padding:10px 0 10px 0;
    margin:20px 0 20px 0;
    box-shadow: 5px 5px 5px #CCCCCC;
    font-family: 'Lato', sans-serif;
    font-weight:700;
   
}
.result
{
    margin:10px 0 10px 0;
}
.newward, .partyrow
{
    border-top:2px solid #EEEEEE;
    margin-top:30px;
}
.name, .partyrow, .party, .elected, .totalseats, .totalvotes
{
    font-size:x-large;
}
.ward, .name, .party, .elected
{
    font-size:120%;
}
.votes
{
    padding-top:5px;
}
.visible-xs
{
    float:left;
}




