<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="mgWebservice.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
      <pages validateRequest="false">
        <controls>
          <add tagPrefix="nav" src="~/assets/toputilnav.ascx" tagName="toputilnav" />
          <add tagPrefix="nav" src="~/assets/pageinfobar.ascx" tagName="pageinfobar" />
          <add tagPrefix="nav" src="~/assets/footercontactdetails.ascx" tagName="footercontactdetails" />
          <add tagPrefix="nav" src="~/assets/footerutilnav.ascx" tagName="footerutilnav" />
        </controls>
      </pages>
    </system.web>
    <applicationSettings>
        <mgWebservice.Properties.Settings>
            <setting name="mgWebservice_wbccommgrapp_mgWebService" serializeAs="String">
                <value>http://wbccommgrapp/mgWebService.asmx</value>
            </setting>
        </mgWebservice.Properties.Settings>
    </applicationSettings>
  <appSettings>
    <add key="election" value="6"/>
  </appSettings>
</configuration>
